@charset "utf-8";
@import "base/normalize";
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    color: #f5f5f5;
}

header {
    background-color: #006dcc;
    font-size: 35px;
    text-align: center;
}

nav {
    text-align: center;
    li {
        list-style: none;
        background-color: forestgreen;
        display: inline-block;
        height: 36px;
        line-height: 36px;
        width: 20%;
    }
}

section {
    height: 300px;
    background-color: #006dcc;
    margin-right: 100px;
}

aside {
    position: fixed;
    right: 0;
    top: 226px;
    height: 300px;
    width: 100px;
    background-color: forestgreen;
}

footer {
    height: 80px;
    background-color: gray;
}