@charset "utf-8";
// Set Grid (1170gs default)
$column-width: 70px;
$columns: 12;
$padding: 15px;

// Should it be responsive?
$responsive: true;

// Set container width relative to user variables
$width: $column-width * $columns;

// Set Base Container
.container
{
// Set container width if responsive
@if $responsive == true
   {
	// max-width:$width;
	@extend %clearfix;
	box-sizing: border-box;
   }
@else
   {
	width:$width;
	@extend %clearfix;
   }
margin:0px auto;
padding: 0 $padding 0 $padding;

}

// Define Individual Grid Classes
@for $i from 1 to $columns
{
	// Calculate grid size in pixels
	$grid: $column-width * $i;
	
	// Calculate responsive grid sizes if required
	@if $responsive == true
	{
		// Calculate grid size in pixels
		$grid: ($grid / $width) * 100%;

		.grid-#{$i}
			{
			width: $grid;
			float: left;
			background-color: orange;
			border: 1px solid teal;
			box-sizing: border-box;
			}
		.grid-offset-#{$i}
			{
			// width: $grid;
			float: left;
			margin-left: $grid;
			background-color: orange;
			border: 1px solid teal;
			box-sizing: border-box;
			}
	}
	@else
	{
		$grid: $grid;
		.grid#{$i}
			{
			width: $grid;
			float: left;
			}
	}
}

%clearfix{
	*zoom: 1;
	&:before,
	&:after{
		content: "";
		display: table;
		line-height: 0;
	}
	&:after{
		clear: both;
	}
}
// 清除浮动
.clearfix {
	@extend %clearfix;
}