/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<i class="icon-home"></i>
```
*/
.icon-avatar {
  background-image: url(sprites.png);
  background-position: 0px 0px;
  width: 120px;
  height: 120px;
}
.icon-checked {
  background-image: url(sprites.png);
  background-position: -120px 0px;
  width: 26px;
  height: 26px;
}
.icon-checked_hover {
  background-image: url(sprites.png);
  background-position: -120px -26px;
  width: 26px;
  height: 26px;
}
.icon-error {
  background-image: url(sprites.png);
  background-position: -120px -52px;
  width: 26px;
  height: 26px;
}
.icon-info {
  background-image: url(sprites.png);
  background-position: -120px -78px;
  width: 26px;
  height: 26px;
}
